<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  
  <extnet scriptMode="Debug" theme="Gray" />
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      </httpModules>
      <pages>
        <controls>
          <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
        </controls>
      </pages>
      <authentication mode="Forms">
        <forms loginUrl="~/WebPage/Login.aspx" timeout="2880" />
      </authentication>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>

  <connectionStrings>
    <add name="ModelSosContainer" connectionString="metadata=res://*/AcessoDados.ModelSos.csdl|res://*/AcessoDados.ModelSos.ssdl|res://*/AcessoDados.ModelSos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Sos;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
